.app{
  display:flex;

}

.main{
  flex-basis:80%;
  display: flex;
  flex-direction: column;background-color:rgb(147, 248, 243)



}

.map{
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  background-color: rgb(87, 86, 86)

}
.theaters{
  display: flex;
  flex-wrap:wrap;
  align-content: flex-start;
}